networking-pocket-serial-terminal.cache/
networking-pocket-serial-terminal.gen/
networking-pocket-serial-terminal.hw/
networking-pocket-serial-terminal.ip_user_files/
networking-pocket-serial-terminal.ioplanning/
networking-pocket-serial-terminal.runs/
networking-pocket-serial-terminal.sim/
